@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
body
{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.main-paragraph
{
    font-size:small,
}
.calendar-div table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.calendar-div th, .calendar-div td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.calendar-div th {
    background-color: #4CAF50;
    color: white;
}
