@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
body
{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.main-paragraph
{
    font-size:small,
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid #62989E;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #66A5AD;
    color: white;
    border: 2px solid #62989E;
}
tbody{
    background-color: #C4DFE6;
    border: 2px solid #62989E;
}
